<div style="float: right">
    <button class="btn btn-primary" data-bind="hidden: autoBimRunning, click: startAutoBim, enable: connection.isReady">
        <i class="fa fa-train"> Start AutoBim</i>
    </button>
    <button class="btn btn-secondary" data-bind="visible: autoBimRunning, click: abortAutoBim">
        <i class="fa fa-stop-circle"> Abort AutoBim</i>
    </button>
</div>
<form class="form-horizontal">
    <div class="control-group">
        <legend>Main settings</legend>
        <label class="control-label">Invert arrows on display</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.autobim.invert" />
        </div>
        <label class="control-label">Mulitpass probing</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.autobim.multipass" />
        </div>
        <label class="control-label">Accuracy threshold</label>
        <div class="controls">
            <input type="number" step="0.01" class="span3 input-block-level" data-bind="value: settings.settings.plugins.autobim.threshold" />
        </div>
        <label class="control-label">Unified Bed Leveling</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.autobim.has_ubl" />
        </div>
        <label class="control-label">Delay between corners</label>
        <div class="controls">
            <input type="number" step="0.1" class="span3 input-block-level" data-bind="value: settings.settings.plugins.autobim.next_point_delay" />
            <span class="help-block">After the current corner measured within threshold, wait the given amount of seconds before moving to next corner</span>
        </div>
        <label class="control-label">G30 command (probe) result pattern flavour</label>
        <div class="controls">
            <select data-bind="value: settings.settings.plugins.autobim.g30_regex">
                <option value="marlin">Marlin</option>
                <option value="klipper">Klipper</option>
            </select>
            <span class="help-block">This determines how we interpret the output from the G30 probe command.</span>
        </div>
    </div>

    <div class="control-group">
        <legend>Points to probe</legend>
        <label class="control-label">First corner is reference (experimental)</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.autobim.first_corner_is_reference" />
            <span class="help-block">
                If the above is checked, the first point in the list is treated as reference. Else Z=0 is reference.
            </span>
        </div>
        <p>
            Don't forget to <button class="btn btn-primary" data-bind="click: home">Home</button> your printer before
            using the "Test" buttons below.
        </p>
        <div class="controls" data-bind="foreach: settings.settings.plugins.autobim.probe_points">
            <div class="row" style="margin-bottom: 14px">
                <div class="span6">
                    <span>X&nbsp;</span><input style="max-width: 60px" type="number" data-bind="value: x">
                    <span>Y&nbsp;</span><input style="max-width: 60px" type="number" data-bind="value: y">
                </div>
                <div class="span4"><button class="btn btn-secondary" data-bind="click: $parent.testCorner">Test</button></div>
            </div>
        </div>
        <p><span class="help-block">
            The best choice is the locations of the tramming screws. It is necessary that the printer is able to reach
            the points with the probe. You may use the "Test" buttons below to check the individual points: if the
            printer probes it the point is fine. If the printer does nothing that means it cannot reach the point. You
            should try to change the coordinates until it does.
        </span></p>

        <label class="control-label">Change number of corners</label>
        <div class="controls">
            <button class="btn btn-secondary" data-bind="click: addCorner">+</button>
            <button class="btn btn-secondary" data-bind="click: removeCorner, enable: settings.settings.plugins.autobim.probe_points().length > 1">-</button>
        </div>
    </div>

    <div class="control-group">
        <legend>UI</legend>
        <label class="control-label">Show button in Navbar</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.autobim.button_in_navbar" />
            <span class="help-block">Needs OctoPrint restart to take effect.</span>
        </div>
    </div>
</form>
