<button id="startAutoBimButton" class="btn btn-primary hidden"><i class="fa fa-train"></i></button>
<button id="abortAutoBimButton" class="btn btn-secondary hidden"><i class="fa fa-stop-circle"></i></button>
